.tickerWrapper{
  border-top: 1px solid #e8eaed;
  height: 50px;
  align-items: center;
  transition: 0.3s all ease;
  overflow: hidden;
}
.tickerWrapper > div{
  flex: 1;
  position: relative;
}
.tickerRemove{
  height: 0;
  opacity: 0;
}
.tickerName{
  display: inline;
  padding: 6px;
  text-align: center;
  color: #fff;
  transition: 0.2s background ease;
}
.disableClass .tickerName{
  background: #cccccc !important;
}
.ticker{
  text-align: left;
  flex: 2 !important;
}
.percent div{
  width: 50px;
  padding: 6px;
}
.percent .negative{
  color: #a50e0e;
  background: #ff00003a;
}
.percent .positive{
  color: #137333;
  background: #1373333a;
}
.percent .noChange{
  background: #3c40433a;
}
.percent .noChange span{
  color: #3c4043;
}
.disableClass span{
  opacity: 0;
}
.disableClass .price::after,
.disableClass .priceChange::after,
.disableClass .profit::after,
.disableClass .dividend::after{
  position: absolute;
  left: 0;
  right: 0;
  content: '-';
}
.disableClass .percent span{
  display: none;
}

.priceChange.positive{
  color: #137333;
}
.priceChange.negative{
  color: #a50e0e;
}
.priceChange.noChange{
  color: #3c4043;
}
.priceChange.positive:before{
  content: '+';
}
.priceChange.negative:before{
  content: '-';
}
.removeButton{
  padding: 5px;
  background: #ff00003a;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  color: #fff;
  line-height: 1;
  cursor: pointer;
  transition: 0.3s background ease;
  font-size: 12px;
}
.removeButton:hover{
  background: #ff0000;
}
.tickerTools > div:not(:last-child) {
  margin-right: 10px;
}
.tooltip{
  visibility: hidden;
  position: absolute;
  display: inline;
  min-width: 100px;
  background: silver;
  color: white;
  border-radius: 5px;
  padding: 5px;
  white-space: nowrap;
  min-height: 20px;
  top: -3px;
  z-index: 1;
  margin-left: 10px;
}
.tooltip::before{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  border-color: transparent silver transparent transparent;
  position: absolute;
  top: 10px;
  left: -5px;
}
.price:hover .tooltip,
.priceChange:hover .tooltip,
.profit:hover .tooltip,
.dividend:hover .tooltip{
  visibility: visible;
}